:root{
    --primary-color:#1F2937;
    --primary-white:#E7E5E4;
}

body{
    background-color: var(--primary-color);
    margin:0;
    color: var(--primary-white);
    text-align: center;
}

main input{
    display: block;
    margin: auto;
    width: 300px;
    padding: 0.6rem;
    font-size: x-large;
    margin-top: 2rem;
}

.show-button{
    font-size: larger;
    padding: 0.5rem;
    margin: 2rem 0;
    color: var(--primary-white);
    background-color: var(--primary-color);
    border: 3px solid var(--primary-white);
    border-radius: 0.3rem;
}

.output{
    visibility: hidden;
    display: block;
    margin: auto;
    width:50%;
    border: 4px solid var(--primary-white);
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: x-large;
}

.show-button:hover{
    color:red;
}

.note{
    margin: auto;
    background-color: black;
    padding: 0.5rem;
    max-width: 300px;
    font-size: larger;
    border-radius: 0.3rem;
    margin-top: 2rem;
}

.note span{
    color: red;
}